{{controller}}
<div class="row-fluid search-result-table-container">
  <table class="table table-striped table-bordered">
    {{#each arrangedContent}}
    <tr>
      <td>{{sId}}</td>
      <td>{{preMatch}}</td>
      <td>{{match}}</td>
      <td>{{postMatch}}</td>
    </tr>
    {{/each}}
  </table>
</div>
