{{#if hitsAreCutOff}}
  Showing the first {{view App.CorpusResultMaxHitsView class="max-hits span1"}} matches&nbsp;&nbsp;
  <button class="btn btn-small" {{action showAllHits}}>Show all</button>
{{else}}
  {{#if noResultsFound}}
    No matches found
  {{else}}
    {{#if numHits}}
      Found {{numHits}} matches
    {{else}}
      <div class="row-fluid">
        {{view App.HitCounterSpinnerView}} <div class="counting-matches">Counting matches...</div>
      </div>
    {{/if}}
  {{/if}}
{{/if}}
