<div class="row-fluid search-result-table-container">
  <table class="table table-striped table-bordered">
    {{#each result in arrangedContent itemController="resultRow"}}
    <tr>
    {{#if result.sId}}
      <td>{{{result.sId}}}</td>
    {{/if}}
        {{#if corpusHasSound}}
      <td class="span1">
          <button class="btn" {{action toggleJplayer}}><i class="icon-volume-up"></i></button>
      </td>
    {{/if}}
      <td>{{{result.preMatch}}}</td>
      <td>{{{result.match}}}</td>
      <td>{{{result.postMatch}}}</td>
    </tr>
      {{#if isShowingSound}}
    <tr>
        <td colspan="10">
            {{j-player mediaObj=result.mediaObj}}
        </td>
    </tr>
      {{/if}}
    {{/each}}
  </table>
</div>
