<div class="row-fluid search-result-toolbar">

  <!-- Begin action buttons -->

  <div class="pull-left">
    <!-- <button class="btn btn-small"><i class="icon-download-alt"></i> Save</button> -->
    <button class="btn btn-small" {{action showStatistics}}><i class="icon-th-list"></i> Statistics</button>
    <!--
    <button class="btn btn-small"><i class="icon-pencil"></i> Annotate</button>
    <button class="btn btn-small">Metadata</button>
    -->
  </div>

  <!-- End action buttons -->

  <!-- Begin result paginator -->

  {{#if hasMoreThanOnePage}}
  <div class="pagination pagination-right">
    <ul>
      <li {{bindAttr class="isShowingFirstPage:disabled"}}>
        <a href="#" {{action showFirstPage}}>&laquo;&laquo;</a>
      </li>
      <li {{bindAttr class="isShowingFirstPage:disabled"}}>
        <a href="#" {{action showPreviousPage}}>&laquo;</a>
      </li>
      <li><span>Page</span></li>
      <li><span class="paginator-counter">{{view App.CurrentPaginatorPageView}}</span></li>
      <li><span>of {{numPages}} pages</a></li>
      <li {{bindAttr class="isShowingLastPage:disabled"}}>
        <a href="#" {{action showNextPage}}>&raquo;</a>
      </li>
      <li {{bindAttr class="isShowingLastPage:disabled"}}>
        <a href="#" {{action showLastPage}}>&raquo;&raquo;</a>
      </li>
    </ul>
  </div>
  {{/if}}

  <!-- End result paginator -->

</div>
