<div style="display:table-cell">
  <div style="display:table">
    <div class="multiword-term">
      <div class="control-group">
        <div style="display:table-row">
          {{#unless term.isFirst}}
          <div class="interval">
            <h6>Interval</h6>
            {{view Em.TextField class="interval" valueBinding="term.min"}} min<br>
            {{view Em.TextField class="interval" valueBinding="term.max"}} max
          </div>
          {{/unless}}
          <div class="input-prepend input-append word dropdown">
            <span data-toggle="dropdown" class="add-on dropdown-toggle" style="cursor:pointer"><i class="icon-cog"></i></span>
            {{view Em.TextField class="searchfield multiword-field" valueBinding="term.word"}}
            <span class="add-on" title="Remove word" style="cursor:pointer" {{action removeTerm this}}><i class="icon-minus"></i></span>
            {{cwb-options-menu tags=tags}}
          </div>
          {{#if term.isLast}}
          <div class="add-search-word">
            <button class="btn btn-small" title="Add search word" {{action addTerm}}>
              <i class="icon-plus"></i>
            </button>
          </div>
          {{/if}}
        </div>
        <div style="display:table-row">
          {{#unless term.isFirst}}
          <div class="interval-filler" style="display:table-cell">
          </div>
          {{/unless}}
          <div class="word-checkboxes">
            <label class="checkbox">
              <input type="checkbox" title="Lemma (base form)"> Lemma
            </label>
            &nbsp;
            <label class="checkbox">
              <input type="checkbox" title="Start of word"> Start
            </label>
            &nbsp;
            <label class="checkbox">
              <input type="checkbox" title="End of word"> End
            </label>
            <div style="display:table-cell">
            </div>
          </div>
        </div>
        <div style="display:table-row">
          {{#unless term.isFirst}}
          <div class="interval-filler" style="display:table-cell">
          </div>
          {{/unless}}
          <div class="tag-list" data-term-tags><div class="tags"></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
