<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <%= stylesheet_link_merged :base %>
  <script type="text/javascript">
      //<![CDATA[
      var urlRoot = '<%= application_root %>';
      var authenticityToken = '<%= form_authenticity_token %>';
      //]]>
  </script>
</head>
<body>
  <%= javascript_include_tag 'ext/ext-base' + possibly_debug_suffix, 'ext/ext-all' + possibly_debug_suffix %>
  <%= javascript_include_merged :base %>
</body>
</html>
