<!DOCTYPE html>
<html>
<head>
  <title>Glossa</title>
  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag 'extjs/resources/css/ext-all' %>

  <script type="text/javascript">
    var urlRoot = '<%= application_root %>';
    var authenticityToken = '<%= form_authenticity_token %>';
  </script>

  <%= javascript_include_tag 'extjs/ext-all-debug', 'app' %>
</head>
<body>
</body>
</html>
