<!DOCTYPE html>
<html>
<head>
  <title>Glossa2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag(:rconsole) if Rails.env.development? %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
