<!DOCTYPE html>
<html>
<head>
  <title>Glossa</title>
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'es5-shim.min', 'es5-sham.min' %>
  <![endif]-->

  <%= csrf_meta_tag %>
  <base href="<%= ENV['RAILS_RELATIVE_URL_ROOT'] %>/" />

  <%= stylesheet_link_tag 'application' %>

  <script type="text/javascript">
    var authenticityToken = '<%= form_authenticity_token %>';
    var username = "<%=
      j session[:attributes][:eduPersonPrincipalName] if session[:user_id].present? &&
                                                         session[:attributes].present? &&
                                                         session[:idp].present? %>";
    var logout_url = "<%= j url_for controller: 'saml', action: 'logout', idp: session[:idp] %>";
    var login_urls = {};
    <% (ENV['IDP_LIST'] || "").gsub(/[^a-z_:]/i, '').split(?:).each do |idp| %>
      login_urls['<%= idp.upcase %>'] = "<%= j url_for controller: 'saml', action: 'sso', idp: idp.downcase %>";
    <% end %>
  </script>
</head>
<body>
  <span id="application"></span>
  <%= javascript_include_tag 'application' %>
</body>
</html>
